body{
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f8fafc;
}

.box{
  background:white;
  padding:30px;
  border-radius:8px;
  width:300px;
}

input{
  width:100%;
  padding:10px;
  margin-bottom:10px;
}

ul{
  list-style:none;
  padding:0;
}

li{
  padding:8px;
  border-bottom:1px solid #e5e7eb;
}
